@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
@font-face {
    font-family: "CarnokyType Zin Display Condensed";
    src: url("assets/Fonts/CarnokyType\ -\ Zin\ Display\ Condensed\ Demo.otf") format("opentype");
  }
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    font-family: "Spline Sans", sans-serif;;
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    width: 20%;
    padding: 30px;
    background-color: rgb(248, 248, 248);
}

.logo
{
    display: flex;
    justify-content: flex-start;
    
}
.profile-logo
{
    display:flex;
    position: relative;
    gap: 10px;
    margin-top: 40px;
    padding: 10px;
    display: flex;
    border: 1px solid #B5BDCD;
    border-radius: 5px;
}
.profile-logo-right
{
    display: flex;
    flex-direction: column;
    align-self: center;   
}

.arrowDown{
   position: absolute;
    display: flex;
    margin-top: 10px;
    right: 10%;
    height: 10px;
    width: 14px;
}

.bluredText
{
    display: flex;
    color: #B5BDCD;
    font-size: 14px;
    align-self: self-start;
}

.left-middle
{
    width: 100%;
    color: #626D82;
}

.middle-content:nth-child(2)
{
    background-color: #b3f37f; 
}
#home
{
    height: 30px;
    width: 30px;
}
.middle-content
{
    padding: 7px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: all 0.6s;
    border-radius: 5px 5px 5px 5px;
}
.middle-content:hover
{
    background-color: #b3f37f;  
}

.left-icons
{
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

footer
{
    display: flex;
    gap: 20px;
    color: #1F4451;
    flex-direction: column;
    margin-top: 300px;
}

.Contact
{
    background-color:#1F4451;
    color: white;   
    size: 12px;
    margin-left: 5px;
    padding: 5px 5px 20px;
    width: 97px;
    height: 17px;
    border-radius: 5px;
    border: none;
    scale: 1.2;
}

.left-bottom-text
{
    display: flex;
    font-weight: 400;
    color: #626D82;
}

.Havingtrouble
{
    font-weight: 500;
    font-size: 28px;
}

.right {
    height: 100%;
    width: 100%;
    background-color: rgb(224, 222, 219);
}

.right-container
{
    width: 90%;
    height: 40%;
    padding-left: 170px;
}

nav
{
    margin-top: 40px;
    display: flex;
    height: 20px;
    gap: 20px;
}

.right-top
{
    font-family: "CarnokyType Zin Display";
    margin-top: 50px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title
{
    font-size: 50px;
    font-weight: 300;
}

.checkbox
{
    scale: 1.3;
}

.inputSearch
{
    width: 300px;
    padding: 15px;
    border: #B5BDCD;
    color: #B5BDCD;
    background-color:#fdfdfd;
    border-radius: 5px;
}

.inputSearch:hover
{
    background-color:#fdfdfd;
    border: none;
}

::placeholder
{
    color: #B5BDCD;
    font-size: 17px;
}
.searchBar
{
    position:relative;
}

.search
{
    position:absolute;
    right:5%;
    top:30%;
}


.right-bottom
{
    color: #436D7C;
    font-weight: 500;
    background-color: #f0f0f0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40% 25% 20% 15%;
    grid-template-rows: repeat(7, 1fr);
    border-radius: 10px;
}

.grid-item {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    border-bottom: 1px solid #d3e2f5;
}

#grid-item1
{
    display: flex;
    gap: 40px;
}
#grid-item2
{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: start;
    font-size: 12px;
}

.right-status-size
{
    font-weight: 400;
    scale: 1.1;
    height: 26px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-radius: 22px;
    border:none;
}

#Signing
{
    background-color: #436D7C;
    color: white;
}
#Pending
{
    background-color: #E8ECF1;
    color: #626D82;
}

#Completed
{
    background-color: #D3F7B5;
}

.boldColor
{
    margin-left: 5px;
    color: #193c48;
}

#grid-item2
{
    font-size: 16px;
}

.SignNow
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border:1px solid #B5BDCD;
    color: #626D82;
    font-weight: 400;
    width: 134px;
}

#grid-item3
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

#topHeader
{
    display: flex;
    gap: 20px;
    color: black;
}